logs.txt
pr.md

.agent
.docs
.ops
.windsurf

.stryker-tmp/
playwright-report/
reports/
test-results/

.vscode/*
!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# env files (can opt-in for committing if needed)
.env*
!.env.example
!.env.ci

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Turborepo
.turbo

# Sentry Config File
.env.sentry-build-plugin
